@import 'colors';

.content-area.home {
    width: 100%;
    margin-right: 0;
    float: none;
}
.content-area .sidebar {
    float: right;
    width: 25%;
}
section {
    margin-bottom: 3em;
}
.home-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.cta-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .cta-box {
        border: 1px solid $green;
        padding: 1em;
        margin-bottom: 1em;

        .home-cta-title {
            text-transform: uppercase;
            font-weight: 700;
            color: $darkblue;
}

        p {
            max-width: 50%;
        }
    }
}
.home-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.news-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .home-box {
        background: $palegrey;
        padding: 1em;
        margin: 1em;
        margin-bottom: 1em;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .image {
            margin: -1em -1em 1em;
            background-size: cover;
            background-position: center center;

            img {
                width: 100%;
            }
        }

        p {
            margin-bottom: -1em;
        }

        button {
            /* display: block; */
            width: calc(100% + 1em);
            margin: 1em -1em 0;
            -ms-flex-item-align: end;
                align-self: flex-end;
        }
    }
    .home-box > * {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }
}
/*--------------------------------------------------------------
mailchimp
--------------------------------------------------------------*/
.mailchimp-form {
    background: $palegrey;
    width: 100%;
    padding: 0 0 10px 10px;
    position: relative;
    /* min-height: 500px; */
    .gform_wrapper {
        margin: 0;
        .top_label .gfield_label {
            display: none;
        }
        .gform_heading {
            background: $darkblue;
            color: white;
            margin-bottom: 1em;
            margin-left: -10px;
            padding: 10px;
            position: relative;
            width: calc(100% + 10px);
            .gform_description {
                font-weight: 300;
                font-size: 1.8em;
            }
        }
        .gform_description:after {
            content: '\f003';
            font-family: 'fontawesome';
            font-size: 2em;
            position: absolute;
            right: 0.25em;
            top: -10px;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $lightgrey;
        }
        ::-moz-placeholder { /* Firefox: ; 19+  */
            color    :     $lightgrey;
        }
        :-ms-input-placeholder     { /*  IE 10+ */
            color: $lightgrey;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $lightgrey;
        }
    }
    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        padding: 1em;
        background: white;
    }
    input.gform_button.button {
        position: absolute;
        bottom: 0;
        left: 0;
        background: $green;
        border-radius: 0;
        font-weight: 300;
        text-transform: capitalize;
    }
    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_footer input[type=submit],
    .gform_wrapper .gform_page_footer input.button,
    .gform_wrapper .gform_page_footer input[type=submit] {
        width: 100%;
    }

}
/*--------------------------------------------------------------
    sidebar social nav
--------------------------------------------------------------*/
.sidebar .social-navigation {
    margin-top: 2em;
    ul.social-links-menu {
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        li {
            margin: 0 5px;
        }
        a {
            color: $darkgrey;
            border-color: $darkgrey;
        }
        a:hover {
            border-color: $green;
        }
    }
}
/* events*/
.home-keydates h1.entry-title {
    margin-bottom: 2.2em;
}
/*--------------------------------------------------------------
    metaslider
--------------------------------------------------------------*/
body:not(.search-results) article:not(.type-page) .entry-content {
    width: 100%;
    float: none;
}
.home-events {
    border-top:4px solid $darkblue;
}
.metaslider {
    margin-top: -7em;
}
#main .home-events .metaslider .caption-wrap {
    opacity: 1;
    color: $darkblue;
    font-size: 2em;
    background: transparent;
    line-height: 3em;
    height: 200px;
    position: relative;
}
.tribe_formatted_event_date:after {
    content: '\f111';
    font-family: 'fontawesome';
    position: absolute;
    left: -9px;
    bottom: -53px;
    font-size: 24px;
    color: #1d61a2;
}
.home-events .metaslider li {
    width: 30%;
}
.home-events .metaslider .caption
 br {
    height: 30px;
}
.metaslider .caption a {
    background: $midblue;
    padding: 10px;
    color: white;
    display: block;
    line-height: 1.2;
    font-size: 24px;
    min-height: 80px;
    width: 350px;
}
.metaslider .caption a:before {
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid $midblue;
    position: absolute;
    left: 10px;
    top: 91px;
}
.metaslider .slides img {
    opacity: 0;
}
/*-----------------------------------------
    sponsors
-----------------------------------------*/
#home-sponsors {
    .elementor-tab-title {
        background:$darkgrey;
        color: white;
        font-weight: 300;
        font-family: 'Aller', sans-serif;
        margin-bottom: 5px;
    }
    .elementor-tab-title:hover {
        background:$darkblue;
    }
    .elementor-tab-title.active {
        background:$green;
    }
    .elementor-widget-tabs .elementor-tabs-wrapper {
        max-width: 20%;
    }
    .elementor-tab-content.elementor-clearfix {
        padding: 0 20px;
    }
}
.sponsors-tbl {
    vertical-align: top;
    border: none;
    tr, td {
        border: none;
    }
    td {
        vertical-align: top;
    }
    img {
        display: block;
    }
}


