@import 'colors';
@import 'setup';

@media screen and (max-width: 700px) {
    .site-branding {
        margin: 0.875em auto;
    }
    .social-navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        li {
            margin: 10px;
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 500px) {
    .social-navigation li {
        margin: 2px;
    }
}

.home .breadcrumbs {
    display: none;
}

.home .site-content {
    margin-top: 6em;
}

.content-area.home {
    width: 100%;
    margin-right: 0;
    float: none;
}
.content-area .sidebar {
    float: right;
    width: 25%;
}

section {
    margin-bottom: 3em;
}
.home-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .subscribe {
        padding-bottom: 0em;
        margin-bottom: 0;
    }
}
.cta-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .cta-box {
        border: 1px solid $green;
        padding: 1em 1em 2em;
        margin-bottom: 1em;

        .home-cta-title {
            text-transform: uppercase;
            font-weight: 700;
            color: $darkblue;
            line-height: 1;
}

        p {
            max-width: 50%;
            line-height: 1.3;
            margin-top: 0.5em;
        }
    }
}
.home-news {
    display: table;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1em;
}
.home-news:after {
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    clear: both;
}
.news-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .home-box {
        background: $palegrey;
        padding: 1em;
        margin: 1em;
        margin-bottom: 1em;
        float: left;
        width: 31%;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .image {
            margin: -1em -1em 1em;
            background-size: cover;
            background-position: center center;

            img {
                width: 100%;
            }
        }

        button {
            /* display: block; */
            width: calc(100% - 1em);
            margin: 1em -1em 0;
            -ms-flex-item-align: end;
                align-self: flex-end;
        }
    }
    .home-box > * {
        /* -webkit-box-flex: 1;*/
        /*     -ms-flex: 1 1 100%;*/
        /*         flex: 1 1 100%;*/
    }
}
.news-boxes .home-box:first-of-type {
    margin-left: 0;
}
article.home-box a.more-link {
            display: none;
}
@media  screen and (max-width: 909px) {
    .news-boxes {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .home-box {
            margin-bottom: 3em;
        }
    }
    .home-cta {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                margin: $margin-7;
        }
    .content-area .sidebar {
        width: 100%;
        float: none;
        padding: 0;
    }
}
@media  screen and (max-width: 600px) {
    .news-boxes .home-box {
        width: 100%;
        margin-left: 0;
    }
}
/*--------------------------------------------------------------
mailchimp
--------------------------------------------------------------*/
.mailchimp-form {
    background: $palegrey;
    width: 100%;
    padding: 0 0 10px 10px;
    position: relative;
    /* min-height: 500px; */
    .gform_wrapper {
        margin: 0;
        .top_label .gfield_label {
            display: none;
        }
        .gform_heading {
            background: $darkblue;
            color: white;
            margin-bottom: 1em;
            margin-left: -10px;
            padding: 10px;
            position: relative;
            width: calc(100% + 10px);
            .gform_description {
                font-weight: 300;
                font-size: 1.8em;
            }
        }
        .gform_description:after {
            content: '\f003';
            font-family: 'fontawesome';
            font-size: 2em;
            position: absolute;
            right: 0.25em;
            top: -10px;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $lightgrey;
        }
        ::-moz-placeholder { /* Firefox: ; 19+  */
            color    :     $lightgrey;
        }
        :-ms-input-placeholder     { /*  IE 10+ */
            color: $lightgrey;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $lightgrey;
        }
    }
    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        padding: 1em;
        background: white;
    }
    input.gform_button.button {
        position: absolute;
        bottom: -35px;
        left: 0;
        background: $green;
        border-radius: 0;
        font-weight: 300;
        text-transform: capitalize;
    }
    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_footer input[type=submit],
    .gform_wrapper .gform_page_footer input.button,
    .gform_wrapper .gform_page_footer input[type=submit] {
        width: 100%;
    }

}

/*--------------------------------------------------------------
    sidebar social nav
--------------------------------------------------------------*/
.subscribe .social-navigation {
    padding-top: 0;
    ul.social-links-menu {
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 4em;
        li {
            margin: 0 5px;
        }
        a {
            color: $darkgrey;
            border-color: $darkgrey;
        }
        a:hover {
            border-color: $green;
        }
    }
}
/* events*/
article.home-keydates {
    margin-top: 2em;
}
.home-keydates h1.entry-title {
    margin-bottom: 3.2em;
}
/*--------------------------------------------------------------
    metaslider
--------------------------------------------------------------*/
body:not(.search-results) article:not(.type-page) .entry-content {
    width: 100%;
    float: none;
}

.home-events.entry-content:before {
    margin-top: -7px;
    content: '';
}
article.home-keydates {
    padding: 2em 0;
}
.metaslider {
    margin-top: -2em;
    padding-bottom: 2em;
}

.home-events .metaslider li {
    width: 30%;
}

@media screen and (max-width: 600px) {
    .home-events .metaslider li {
        width: 330px;
    }
}
/*-----------------------------------------
    sponsors
-----------------------------------------*/
#home-sponsors {
    .elementor-tab-title {
        background:$darkgrey;
        color: white;
        font-weight: 300;
        font-family: 'Aller', sans-serif;
        margin-bottom: 5px;
        padding: 20px 0 20px 7.6923%;
    }
    .elementor-tab-title:hover {
        background:$darkblue;
    }
    .elementor-tab-title.active {
        background:$green;
    }
    .elementor-widget-tabs .elementor-tabs-wrapper {
        max-width: 20%;
    }
    .elementor-tab-content.elementor-clearfix {
        padding: 0 20px;
    }
}
.sponsors-tbl {
    vertical-align: top;
    border: none;
    padding: 0;
    width: 100%;
    tr, td {
        border: none;
    }
    td {
        vertical-align: top;
        width: 50%;
    }
    td.full-width-cell {
        width: 100%;
    }
    img {
        display: block;
    }
}
#home-sponsors * {
    border: none !important;
    border-color: transparent !important;
}
@media screen and (max-width: 700px) {
    .entry-content .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
        padding: 0;
    }
    #home-sponsors .elementor-tab-content.elementor-clearfix {
        padding: 0;
    }
    #home-sponsors .elementor-tab-title {
        margin-left: -7.6923%;
    }
    .sponsors-tbl {
        tr {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        td {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            width: 90%;
            padding-right: 7.6923%;
        }
        p {
            font-size: 14px;
        }
    }
}
/*-----------------------------------------
    footer
-----------------------------------------*/
@media screen and (max-width: 700px) {
    nav.footer-navigation,
    .footer-extras {
        width: 100%;
        margin-bottom: 2em;
        display: table;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .extras-r1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .social-links-menu {
        float: none;
    }
}
