@import 'setup';
@import 'colors';

/*--------------------------------------------------------------
1   Links
2   Header
    2.1    Main navigation
    2.2    Social navigation
    2.3    Post Navigation
    2.4    Page Navigation Menus
    2.5    Top Page Nav
    2.6    Search Toggle
3    Content
    3.1    Containers
    3.2    Headings
    3.3    Text
        3.3.1   Lists
        3.3.2   Photo Credits
        3.3.3   Download button
    3.4    Images
    3.5    Blog
    3.6    Pagination
4   Footer
5   Widgets
    5.1     Metaslider
6   Elementor
7   Scrollup
8   Events Calendar
9   Keynote Speakers
10  WPML
--------------------------------------------------------------*/

html, body {
    color: $darkgrey;
    background: white;
    overflow-x: hidden;
}
@media screen and (min-width: 44.375em) {
    body:not(.custom-background-image):before,
    body:not(.custom-background-image):after {
        height: 0;
    }
}
*,
html,
body {
    font-family: 'aller', arial, sans-serif;
    font-weight: 300;
}
.site {
    margin: 0;
}

/*--------------------------------------------------------------
1    Links
--------------------------------------------------------------*/
a,
a:after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover .banner-logo img {
    opacity: 0.7;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.btn,
a.button,
a .btn,
.elementor-tab-title {
    color: white;
    background: $green;
    border-radius: 0;
    font-family: 'Aller', Arial, sans-serif;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    position: relative;
}
button:hover,
button:hover:after,
.btn:hover,
.btn:hover:after,
.btn a:hover,
a.button:hover,
a.button:hover:after,
a .btn:hover:after,
button.btn:hover:after {
    background: $darkblue;
}
button:after,
.btn:after,
a .btn:after,
a.button:after,
.elementor-tab-title.active :after {
    content: '';
    position: absolute;
    width: 1em;
    height: 100%;
    right: 0;
    top: 0;
    left: 100%;
    bottom: 0;
    -webkit-transform: skewY(-20deg);
    transform: skewX(-20deg);
    -webkit-transform-origin: right;
    transform-origin: top;
    background: #8fc034;
}

button.comments-link {
    min-width: 180px;
}
button.comments-link a:link,
button.comments-link a:visited {
    color: white;
}
button.comments-link a:hover,
button.comments-link a:active {
    color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.elementor-tab-title :after {
    content: '';
    position: absolute;
    width: 1em;
    height: 100%;
    right: 0;
    top: 0;
    left: 100%;
    bottom: 0;
    -webkit-transform: skewY(-20deg);
    transform: skewX(-20deg);
    -webkit-transform-origin: right;
    transform-origin: top;
    background: white;
}
.elementor-widget-tabs.elementor-tabs-view-vertical .elementor-tabs-wrapper {
    padding-right: 1em;
}
a.more-link {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
            margin-top: 2.5em;
    max-width: 130px;
}
.post-navigation a {
    color: $green;
}
.breadcrumbs {
    display: none;
}
/*--------------------------------------------------------------
2    Header
--------------------------------------------------------------*/
@media screen and (min-width: 61.5625em) {
    .site-header {
        padding: 1em 4.5455% 0;
        margin: 0 auto 1.75em;
        max-width: 1320px;
        position: relative;
        border-bottom: 2px solid $green;
    }
    .site-branding {
        margin-top: 0;
    }
}
.site-header:before,
.site-header:after {
    content: '';
    position: absolute;
    width: 9600px;
    border-bottom: 2px solid $green;
    right: 100%;
    bottom: -2px;
}
.site-header:after {
    left: 100%;
}
@media screen and (max-width: 960px){
    .site-header:before,
    .site-header:after {
        border-bottom: none;
        width: 0;
        right: 0;
        left: 0;
    }
}
.site-header-main {
    position: relative;
}
/* 2.1    Main navigation */
.site-header-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}
.main-navigation {
    font-family: $main-font;
}
.main-navigation a {
    color: $darkgrey;
}
.main-navigation .primary-menu a:hover,
.main-navigation .primary-menu a:focus,
.main-navigation li:hover > a,
.main-navigation li.focus > a {
    color: $green;
}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
    font-weight: 300;
    color: $green;
    position: relative;
}
.main-navigation .menu-item-has-children > a {
    padding-right: 0.875em;
}
.main-navigation .menu-item-has-children > a:after {
    content: '';
    margin: 0;
    padding-right: 0.65625em;
}
.main-navigation .current-menu-item > a:after,
.main-navigation .current-menu-ancestor > a:after,
.archive .main-navigation .menu-item-370 > a:after,
.single .main-navigation .menu-item-370 > a:after { /* adds triangle under current page item */
    border-left:  10px solid transparent;
    border-right:  10px solid transparent;
    border-bottom:  10px solid $green;
    position: absolute;
    left: calc(50% - 10px);
    top: 75%;
    width: 0;
    height: 0;
    content: '';
}
.main-navigation .current-menu-ancestor>a:after,
.archive .main-navigation .menu-item-370 > a:after,
.single .main-navigation .menu-item-370 > a:after { /* fixes the triangle width */
    padding-right: 0;
}
.main-navigation .sub-menu .current-menu-item >a:after { /* hide it on sub menus */
    border-bottom-color: transparent;
}
.main-navigation .current-menu-item.menu-item-has-children > a:after {
    padding-right: 0;
}
.main-navigation li:hover > ul,
.main-navigation li.focus > ul { /* centres the sub menu */
    right: auto;
    left: 0;
}
.main-navigation ul ul:after { /* hides the 2016 top border cover */
    border: none;
}
.main-navigation ul ul:before { /* hides the triangle */
    border-color: transparent;
    border-width: 0 10px 10px;
    left: calc(50% - 9px);
    right: calc(50% - 9px);
    top: -9px;
}
.main-navigation ul ul,
.main-navigation ul ul li {
    border-color: $green;
    border-width: 0;
    background: $darkgrey;

    a {
        color: white;
    }
}
.main-navigation ul.sub-menu {
     border-top: 2px solid $green;
}

/* 2.2    Social navigation */
.social-links-menu {
    list-style: none;
    float: right;
    color: $lightgrey;
}
.social-links-menu a {
    color: $lightgrey;
    border: 3px solid $lightgrey;
    width: 40px;
    height: 40px;
}
.social-links-menu a:hover,
.social-links-menu a:hover:before {
    color: $green;
    border-color: $green;
}
@media screen and (min-width: 56.875em) {
    .site-header .social-navigation {
        display: block;
        margin-top: -2em;
    }
}
.social-navigation a:before {
    font-family: 'fontawesome';
}
.social-navigation a[href*="twitter.com"]:before {
    content: '\f099';
}
.social-navigation a[href*="facebook.com"]:before {
    content: '\f09a';
}
.social-navigation a[href*="youtube.com"]:before {
    content: '\f167';
}
.social-navigation a[href*="instagram.com"]:before {
    content: '\f16d';
}
.social-navigation a[href*="linkedin.com"]:before {
    content: '\f0e1';
}
.social-navigation a[href*="flickr.com"]:before {
    content: '\f211';
    font-family: 'genericons';
}
/* 2.3  Post Navigation */
.post-navigation,
.post-navigation div + div {
    border-color: $lightgrey;
}
/* 2.4  Page Navigation Menus */
.page-menu ul {
    list-style: none;
    text-transform: uppercase;

    li {
        margin-bottom: 0.5em;
        a {
            background: $darkgrey;
            padding: 5px 10px;
            color: white;
            display: block;
        }
        a:hover {
            background: $green;
        }
    }
}
@media screen and (max-width: 720px) {
    #menu-who-we-are-side-nav {
        display: none !important;
    }
}

/* 2.5 Top Page Nav */
.top-nav {
    padding: 0.5em 4.5455%;
    font-size: 1em;
    background: $darkgrey;
    position: relative;
    z-index: 9999;
    ul {
        list-style: none;
        margin-bottom: 0;
    }
    li {
        display: inline-block;
        margin-right: 1em;
    }
    a:link,
    a:visited {
        color: white;
        padding: 0.65625em 0.875em;
        line-height: 1.3125;
        white-space: nowrap;
    }
    a:hover,
    a:active {
        color: $green;
    }
    a:first-of-type {
        padding-left: 0;
    }
    .current-menu-item a {
        color: $green;
    }
}
.top-nav:before,
.top-nav:after {
    content: '';
    background: $darkgrey;
    position: absolute;
    right: 100%;
    width: 9600px;
}
@media screen and (max-width: 720px) {
    .top-nav {
        padding: 0.5em $margin-7;
        margin-left: $margin-7;
        line-height: 3;
    }
}

/* 2.6 Header search */

.search-toggle {
    float: right;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-top: -1.7em;
    margin-right: 0;
    color: $green;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    border: 3px solid $green;
    border-radius: 50%;
}

@media screen and (min-width: 700px) and (max-width: 909px) {
    .search-toggle {
        margin-top: 0;
    }
}

.search-toggle:hover,
.search-toggle.active {
    color: $lightgrey;
    border-color: $lightgrey;
}

.search-toggle .screen-reader-text {
    top: 0;
    right: 0;
}
.search-box-wrapper {
    z-index: 110000;
    width: 100%;
    margin-top: 0;
}
.search-box {
    padding: 1em;
    background: $darkgrey;
}

.search-box .search-field {
    max-width: 362px;
    float: right;
    padding: 1rem 2rem;
    font-size: 20px;
    font-size: 1rem;
    background-color: #fff;
    border: 0;
    font-family: $main-font;
}

.hide { display: none; }

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { display: none; }

@media screen and (max-width: 699px) {
    .search-toggle {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0;
    }
}
.anchor {
    margin-top: 1em;
}
.anchor:focus {
    outline: none;
}


/*--------------------------------------------------------------
3    Content
--------------------------------------------------------------*/
/* 3.1    Containers */
.site-main {
    position: relative;
    margin-bottom: 1em;
}
.site-main > article {
    margin-bottom: 0;
}
section.testimonials {
    margin-bottom: 0;
}
.site-content {
    position: relative;
    margin-top: 3em;
}
.content-area.home {
    width: 100%;
}
.content-area.full-width {
    width: 100%;
    margin-right: 0;
    float: none;
}
.header-badge {
    background: $midblue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    width: 25%;
    position: absolute;
    right: 0;
    top: -10em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 2px solid white;
    z-index: 20;

    h1 {
        font-size: 20px;
        position: relative;
        z-index: 1;
    }

    span {
        font-weight: 700;
        font-size: 26px;
    }
}
.header-badge:after {
    content: '';
    background: $midblue;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@media screen and (max-width: 909px) {
    .header-badge {
        width: 100%;
        margin-top: 1em;
    }
}
@media screen and  (min-width: 660px) and (max-width: 908px) {
    .header-badge {
        margin-top: 0;
    }
}

/* 3.2    Headings */
h1, h2, h3, h4, h5, h6,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6,
.widget-title {
    font-family: 'Aller', arial, sans-serif;
    font-weight: 300;
}
h1.entry-title,
h2.entry-title,
.comments-title,
.comment-reply-title,
.page-header .page-title {
    font-family: 'Aller', arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.page-title {
    font-size: 2.5em;
    position: relative;
    border-bottom: 2px solid;
}
h2.home-post-title {
    min-height: 130px;
    font-size: 1.5em;
    line-height: 1.4;
}
.entry-title {
    position: relative;
    border-bottom: 2px solid;
}
.entry-title:before,
.entry-title:after,
.page-header .page-title:before,
.page-header .page-title:after {
    content: '';
    position: absolute;
    width: 9600px;
    border-bottom: 2px solid;
    right: 100%;
    bottom: -2px;
}
.entry-title:after,
.page-header .page-title:after {
    left: 100%;
}
.page-template-right-sidebar .entry-title:after ,
.single .entry-title:after {
    display: none;
}
.single.single-speakers .entry-title:after {
    display: block;
}
.entry-content h4 {
    letter-spacing: 0 !important;
}
.post-navigation .post-title,
.entry-title, .comments-title {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
}
.comments-title,
.comment-reply-title {
    border-color: $lightgrey;
}
/* 3.3    Text */
.page-header {
    border-top: none;
    padding-top: 0;
}
span.post-authors p {
    padding: 1em;
    background: $palegrey;
}
.testimonials blockquote {
    border: none;
}
/* 3.3.1   Lists */
.entry-content ul,
.widget ul {
    list-style: none;
    padding-left: 2em;
    li {
        margin-left: -2em;
        padding-left: 1.5em;
        line-height: 1.6;
    }
    li:before {
        content: '\f0da';
        font-family: 'fontawesome';
        color: $green;
        padding-right: 1em;
        margin-left: -1.4em;
    }
}
.widget ul li:before {
    margin-left: -1.6em;
}
.entry-content ul.menu li:before {
    content: '';
    padding: 0;
    margin: 0;
}

/* 3.3.2    Photo credits */
.photo-credits {
    font-size: 0.75em;
    color: $midblue;
}

/* 3.3.3    Download button */
.file-download {
    border: 1px solid $green;
    padding: 1em 0 1em 1em;
    margin-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 45%;
}
.file-info {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    p {
        margin-bottom: 0.75em;
    }
    p.file-authors {
        max-width: 75%;
        em {
            float: left;
            width: 60px;
        }
        span {
            display: table;
        }
    }
    p:last-child {
        margin-bottom: 0;
    }
}
.download-btn {
    margin: calc(-1em - 1px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
    .download-icon {
        background:$darkblue;
        padding: 1em 2em;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;        
        img {
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
        }
    }
    a.btn {
        margin-left: -0.95em;
    }
    a.btn:hover {
        color: white;
    }
}

/* 3.4    Images */
.post-thumbnail {
    margin-top: -1.75em;
    overflow: hidden;
    max-height: 500px;
    position: relative;
    background: $darkgrey;
}
.thumbnail-inner {
    padding-left: 4.5455%;
    width: 70%;
    position: absolute;
    bottom: 0;
}
.featured-caption {
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 2.2em;
    text-shadow: 1px 2px 0 black;
}
.post-thumbnail img {
    width: 100vw;
    z-index: 1;
}
@media screen and (min-width: 2080px) {
    .post-thumbnail {
        max-height: 840px;
    }
}
@media screen and (min-width: 1560px) {
    .post-thumbnail {
        max-height: 600px;
    }
}
@media screen and (min-width: 1680px) {
    .post-thumbnail {
        max-height: 660px;
    }
}
@media screen and (min-width: 960px) and (max-width: 1380px) {
    .post-thumbnail {
        max-height: 360px;
    }
}
@media screen and (max-width: 1380px) {
    .featured-caption {
        font-size: 1.8em;
    }
}
@media screen and ( max-width: 909px ) {
    .post-thumbnail {
        margin-left: -7.6923%;
        margin-right: -7.6923%;
        img {
            width: 100%;
        }
    }
    .featured-caption {
        display: none;
    }
}
.post-pg-thumb {
    margin-bottom: 1em;
}
.post-pg-thumb img {
    width: 100%;
}

/* Forms */
.elementor-widget-wp-widget-gform_widget .elementor-widget-container {
    background: $palegrey;
    width: 100%;
    padding: 0 0 10px 10px;
    position: relative;
    /* min-height: 500px; */
    .gform_wrapper {
        margin: 0;
        .top_label .gfield_label {
            display: none;
        }
        .gform_heading {
            background: $darkblue;
            color: white;
            margin-bottom: 1em;
            margin-left: -10px;
            padding: 10px;
            position: relative;
            width: calc(100% + 10px);
            .gform_description {
                font-weight: 300;
                font-size: 1.8em;
            }
        }
        .gform_description:after {
            content: '\f003';
            font-family: 'fontawesome';
            font-size: 2em;
            position: absolute;
            right: 0.25em;
            top: -10px;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $lightgrey;
        }
        ::-moz-placeholder { /* Firefox: ; 19+  */
            color    :     $lightgrey;
        }
        :-ms-input-placeholder     { /*  IE 10+ */
            color: $lightgrey;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $lightgrey;
        }
    }
    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        padding: 1em;
        background: white;
    }
    .gform_wrapper .gform_body {
        margin-left: -0.5em;
    }
    input.gform_button.button {
        position: absolute;
        bottom: 0;
        left: 0;
        background: $green;
        border-radius: 0;
        font-weight: 300;
    }
    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_footer input[type=submit],
    .gform_wrapper .gform_page_footer input.button,
    .gform_wrapper .gform_page_footer input[type=submit] {
        width: 100%;
    }

}
.comment-form label {
    font-family: $main-font;
    letter-spacing: 0;
}
.comment-form-url {
    display: none;
}
@media screen and (min-width: 767px) and (max-width: 910px) {
    .elementor-widget-wp-widget-gform_widget .elementor-widget-container .gform_wrapper .gform_description:after {
        font-size: 1.5em;
        top: 0;
    }
}

/* 3.5  Blog */
.blog article,
.archive article {
    padding: 1em;
    margin-bottom: 1em;
    background: $palegrey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .entry-header {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        .entry-title {
            font-size: 1.8em;
            margin-bottom: 0.5em;
        }
    }
    .entry-title a:link,
    .entry-title a:visited {
        color: $darkgrey;
        font-weight: 300;
    }
    .entry-title a:hover,
    .entry-title a:active {
        color: $midblue;
    }
    .blog-thumb {
        margin-right: 2em;
        span.cat-links,
        span.comments-link {
            text-align: right;
        }
    }
    .blog-text {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
    }
}
.blog .entry-title:before,
.blog .entry-title:after,
.archive .entry-title:before,
.archive .entry-title:after {
        border: none;
}
body:not(.search-results) article:not(.type-page) .entry-footer {
    margin-top: 1em;
}
.blog .posted-on,
.archive .posted-on {
    padding: 5px 10px;
    background: $darkblue;
    color: white;
    text-align: right;
    display: block;
    a {
        color: white;
    }
}
.post-navigation .post-title {
    font-family: $main-font;
    font-weight: 300;
}
@media screen and (max-width: 910px) {
    .blog article,
    .archive article {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .blog-thumb {
            width: 100%;
            img {
                width: 100%;
            }
            .posted-on {
                text-align: left;
                padding-left: $margin-7;
                margin-bottom: 1em;
            }
            span.cat-links,
            span.comments-link {
                display: inline-block;
                margin-right: 1em;
                margin-bottom: 1em;
            }
            span.cat-links {
                margin-left: $margin-7;
            }
        }
        .entry-content p {
            margin-right: $margin-7;
            padding-right: $margin-7;
        }
    }
}
@media screen and (max-width: 600px) {
    .entry-content {
        padding-right: 4em;
    }
}

/* 3.6  Pagination */
.pagination {
    border-top: 2px solid $green;
    font-family: $main-font;
}
.pagination .prev,
.pagination .next,
.pagination:before,
.pagination:after {
    background-color: $green;
}
.pagination .next:before {
    content: '\f501';
    right: -10px;
}
.pagination:after {
    display: none;
}
.pagination .prev:before {
    content: '\f503';
    left: -10px;
}
.pagination .nav-links:before {
    content: '\f501';
    right: -10px;
}
.pagination .nav-links:after {
    content: '\f501';
    right: -10px;
}

/*--------------------------------------------------------------
4    Footer
--------------------------------------------------------------*/
.testimonial.site-inner {
    max-width: 1024px;
}
.testimonials {
    background: $paleblue;
    padding: 4.5455% 4.5455% 10%;
    text-align: center;
    p {
        margin-bottom: 0.5em;
        line-height: 1.2;
    }
    .quote {
        font-size: 1.5em;
    }
    blockquote {
        color: $darkblue;
        padding-bottom: 0;
        margin-bottom: 0;
        p {
            padding-top: 30px;
            text-align: left;
            line-height: 1.4;
        }
        .open-quote {
            font-size: 5em;
            float: left;
            margin-right: 15px;
            margin-top: -12px;
            line-height: 1;
        }
        .close-quote {
            display: none;
        }
    }
.testimonials-widget-testimonial cite,
.testimonials-widget-testimonial div.credit {
        text-align: center;
        line-height: 0;
    }
.testimonials-widget-testimonial cite:before,
.testimonials-widget-testimonial div.credit:before {
        content: '';
    }
}
.site-footer a:link,
.site-footer a:visited {
    color: white;
}
.site-footer a:hover,
.site-footer a:active {
    color: $green;
}
.site-footer .social-links-menu a {
    color: white;
    border-color: white;
    width: 33px;
    height: 33px;
}
.site-footer .social-links-menu a:before {
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.site-footer .social-links-menu a:hover,
.site-footer .social-links-menu a:hover:before {
    color: $green;
    border-color: $green;
}
.site-footer {
    color: white;
    background: $darkgrey;
    padding: 1em 4.5455% 4.5455%;
    position: relative;
}
.site-footer:before {
    position: absolute;
    background: $darkgrey;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: skewY(1.5deg);
            transform: skewY(1.5deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    content: '';
}
.site-footer ul li {
    display: inline-block;
}
nav.footer-navigation,
.footer-extras {
    width: 48%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.extras-r1,
.extras-r2 {
    -webkit-box-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
nav.footer-navigation li {
    width: 50%;
    float: left;
    padding: 5px 0;
    line-height: 1;
}
ul.footer-menu {
    margin-left: 0;
}
.footer-extras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.site-footer .social-navigation {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
}
.site-details {
    margin-top: 3em;
}
.footer-info a img {
    float: left;
    width: 160px;
    margin-right: 20px;
}
.site-info {
    position: relative;
    z-index: 30;
    color: white;
}
div.footer-info p {
    overflow: hidden;
}
/*--------------------------------------------------------------
5    Widgets
--------------------------------------------------------------*/
.widget {
    border-top: none;
    font-size: 1em;
}
.widget .widget-title {
    font-family: $main-font;
    letter-spacing: 0;
}
/* 5.1  Metaslider */
.entry-content #metaslider_135.flexslider .slides li {
    margin-right: 0 !important;
}
.metaslider .flexslider .flex-direction-nav .flex-prev,
.metaslider .flexslider .flex-direction-nav .flex-next {
    margin-top: -15px !important;
}

/*--------------------------------------------------------------
6    Elementor
--------------------------------------------------------------*/
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 0;
}
.entry-content .elementor hr {
    background-color: $lightgrey;
}
/*--------------------------------------------------------------
7   Scrollup
--------------------------------------------------------------*/
a#scrollup {
    background-color: $green;
    color: #fff;
    display: none;
    -webkit-font-smoothing: antialiased;
    font: normal 24px/1 'fontawesome';
    padding: 0 10px 5px;
    position: fixed;
    right: 20px;
    bottom: 42px;
    text-decoration: none;
    vertical-align: top;
    opacity: 0.9;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    z-index: 999;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a#scrollup:before {
    content: '\f0d8';
}
a#scrollup:hover {
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media screen and (max-width: 767px) {

    a#scrollup {
        font-size: 22px;
        padding: 0 5px;
        bottom: 20px;
    }

}
/*-----------------------------------------
8   Events Calendar
-----------------------------------------*/
.entry-content ul.tribe-bar-views-list li:before,
.entry-content ul.tribe-related-events li:before {
    content: '';
}
.tribe-events-list .tribe-events-loop .tribe-events-event-image {
    display: none;
}
.type-tribe_events.tribe-events-photo-event .tribe-events-photo-event-wrap {
    border: 0;
    background: #36a9e1;
    a {
        color: white;
    }
}
a.tribe-event-url {
    text-decoration: none !important;
}
.type-tribe_events.tribe-events-photo-event .tribe-events-photo-event-wrap:hover {
    background: $darkgrey;
}
.tribe-events-list .tribe-events-loop .tribe-events-content,
.tribe-event-time {
    display: none;
}
.tribe-events-photo .tribe-events-loop .type-tribe_events .tribe-events-event-meta {
    color: white;
}
/*-----------------------------------------
9   Keynote Speakers 
-----------------------------------------*/
.the-speakers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 3.5em;
    .speaker {
        border: 1px solid $green;
        padding: 1em;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        max-width: calc(100% * (1/3) - 1rem - 1px);
        margin-bottom: 2em;
        margin-left: 1em;
        position: relative;
        .speakers-thumb {
            margin: -1em -1em 0.5em;
            position: relative;
            overflow: hidden; /* new */
            text-align: center; /* new */
            display: block; /* new */
            a img {
                width: 100%;
            }
            a { color: white; }
            a:hover { color: $green; }
            .link-mask { /* new */
                opacity: 0;
                -webkit-transform: scale(0.7);
                        transform: scale(0.7);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                background: rgba(35, 40, 45, 0.6);
                color: white;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                a img {
                    width: 30%;
                }

            }
            .link-mask:hover {
                opacity: 1;
                -webkit-transform: scale(1);
                        transform: scale(1);

            }
        }
    }
}
.the-speakers:after {
    content: '';
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
}
.speaker-text { 
    .entry-header {
        padding-bottom: 2em;
    }
    a.button {
        position: absolute;
        left: -1px;
        bottom: -1.25em;
        width: 50%;
    }
}


/* single page */
.speakers {
    .single-speakers-thumb {
        border: 1px solid $green;
        float: left;
        max-width: 300px;
        margin: 0 2rem 2rem 0;
    }
    .plenary {
        background: $palegrey;
        padding: 1em;
        margin-bottom: 2em;
    }
    .entry-content { margin-bottom: 3.5em; }
}
.speakers-info {
    display: inline-block;
    float: right;
    width: calc(100% - 300px - 2em);
    .entry-title:before {
        border-bottom: none;
    }
    .details {
        background: $lightgrey;
        color: white;
        padding: 1em 2em;
        position: relative;
        a {
            color: $darkgrey;
        }
    }
    .details:after {
        content: '';
        border-top: 20px solid $lightgrey;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        position: absolute;
        bottom: -20px;
        left: calc(10% - 20px);
    }
    p {
        font-size: 23px;
        font-size: 1.4375rem;
        line-height: 1.2173913043;
        margin: 0 0 1.2173913043em 0;
        span.the-label {
            width: 145px;
            display: table-cell;
            white-space: nowrap;
        }
        span.the-field {
            display: table-cell;
        }
    }
    p:last-child { margin-bottom: 0; }
    .speakers-bio { clear: both; }
}

/* archive for speakers */
.archive article.speakers {
    .blog-thumb img {
        border: 1px solid $green;
    }
    .entry-title a:link {
        font-weight: bold;
    }
    span {
        width: 145px;
        display: inline-block;
    }
    a.button {
        width: 20%;
        display: inline-block;
    }
}
/*-----------------------------------------
    10 WPML
-----------------------------------------*/
.entry-content .wpml-ls-statics-post_translations .wpml-ls-item a {
    text-decoration: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.entry-content .wpml-ls-statics-post_translations .wpml-ls-flag {
    width: 140px;
    height: 40px;
}

