@import 'colors';

/*--------------------------------------------------------------
1    Links
2    Header
    2.1    Main navigation
    2.2    Social navigation
    2.3    Post Navigation
    2.4    Page Navigation Menus
3    Content
    3.1    Containers
    3.2    Headings
    3.3    Text
        3.3.1   Lists
    3.4    Images
    3.5    Blog
4    Footer
5    Widgets
6    Elementor
--------------------------------------------------------------*/

html, body {
    color: $darkgrey;
    background: white;
    overflow-x: hidden;
}
@media screen and (min-width: 44.375em) {
    body:not(.custom-background-image):before,
    body:not(.custom-background-image):after {
        height: 0;
    }
}
*,
html,
body {
    font-family: 'aller', arial, sans-serif;
    font-weight: 300;
}

/*--------------------------------------------------------------
1    Links
--------------------------------------------------------------*/
a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover .banner-logo img {
    opacity: 0.7;
}
button,
.btn,
a.btn,
input[type="submit"],
.elementor-tab-title {
    color: white;
    background: $green;
    border-radius: 0;
    font-family: 'Aller', Arial, sans-serif;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    position: relative;
}
button:hover,
.btn:hover,
.btn a:hover,
button:hover:after,
.btn:hover:after,
a.btn:hover:after,
input[type="submit"]:hover,
input[type="submit"]:hover:after {
    background: $darkblue;
}
button:after,
.btn:after,
a.btn:after,
input[type="submit"]:after,
.elementor-tab-title.active :after {
    content: '';
    position: absolute;
    width: 1em;
    height: 100%;
    right: 0;
    top: 0;
    left: 100%;
    bottom: 0;
    -webkit-transform: skewY(-20deg);
    transform: skewX(-20deg);
    -webkit-transform-origin: right;
    transform-origin: top;
    background: #8fc034;
}
button.comments-link {
    min-width: 180px;
}
button.comments-link a:link,
button.comments-link a:visited {
    color: white;
}button.comments-link a:hover,
button.comments-link a:active {
    color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.elementor-tab-title :after {
    content: '';
    position: absolute;
    width: 1em;
    height: 100%;
    right: 0;
    top: 0;
    left: 100%;
    bottom: 0;
    -webkit-transform: skewY(-20deg);
    transform: skewX(-20deg);
    -webkit-transform-origin: right;
    transform-origin: top;
    background: white;
}
.elementor-widget-tabs.elementor-tabs-view-vertical .elementor-tabs-wrapper {
    padding-right: 1em;
}
a.more-link {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
            margin-top: 2.5em;
}
.post-navigation a {
    color: $green;
}
/*--------------------------------------------------------------
2    Header
--------------------------------------------------------------*/
@media screen and (min-width: 61.5625em) {
    .site-header {
        padding: 1em 4.5455% 0;
        margin-bottom: 1.75em;
        position: relative;
        border-bottom: 2px solid $green;
    }
    .site-branding {
        margin-top: 0;
    }
}
.site-header-main {
    position: relative;
}
/* 2.1    Main navigation */
.site-header-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}
.main-navigation a {
    color: $darkgrey;
}
.main-navigation .primary-menu a:hover,
.main-navigation .primary-menu a:focus,
.main-navigation li:hover > a,
.main-navigation li.focus > a {
    color: $green;
}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
    font-weight: 300;
    color: $green;
    position: relative;
}
.main-navigation .menu-item-has-children > a {
    padding-right: 0.875em;
}
.main-navigation .menu-item-has-children > a:after {
    content: '';
    margin: 0;
    padding-right: 0.65625em;
}
.main-navigation .current-menu-item > a:after { /* adds traingle under current page item */
    border-left:  10px solid transparent;
    border-right:  10px solid transparent;
    border-bottom:  10px solid $green;
    position: absolute;
    left: calc(50% - 10px);
    top: 75%;
    width: 0;
    height: 0;
    content: '';
}
.main-navigation .sub-menu .current-menu-item >a:after { /* hide it on sub menus */
    border-bottom-color: transparent;
}
.main-navigation .current-menu-item.menu-item-has-children > a:after {
    padding-right: 0;
}
.main-navigation li:hover > ul,
.main-navigation li.focus > ul { /* centres the sub menu */
    right: auto;
}
.main-navigation ul ul:after { /* hides the 2016 top border cover */
    border: none;
}
.main-navigation ul ul:before { /* hides the triangle */
    border-color: white transparent;
    border-width: 0 10px 10px;
    left: calc(50% - 9px);
    right: calc(50% - 9px);
    top: -9px;
}
.main-navigation ul ul,
.main-navigation ul ul li {
    border-color: $green;
    border-width: 0;
    background: $darkgrey;

    a {
        color: white;
    }
}
.menu-bg {
    background: $darkgrey;
    height: 180px;
    width: 100vw;
    position: absolute;
    left: -50vw;
    z-index: 1;
}
/* 2.2    Social navigation */
.social-links-menu {
    list-style: none;
    float: right;
    color: $lightgrey;
}
.social-links-menu a {
    color: $lightgrey;
    border: 3px solid $lightgrey;
    width: 40px;
    height: 40px;
}
.social-links-menu a:hover,
.social-links-menu a:hover:before {
    color: $green;
    border-color: $green;
}
@media screen and (min-width: 56.875em) {
    .site-header .social-navigation {
        display: block;
    }
}
.social-navigation a:before {
    font-family: 'fontawesome';
}
.social-navigation a[href*="twitter.com"]:before {
    content: '\f099';
}
.social-navigation a[href*="facebook.com"]:before {
    content: '\f09a';
}
.social-navigation a[href*="youtube.com"]:before {
    content: '\f167';
}
.social-navigation a[href*="flickr.com"]:before {
    content: '\f211';
    font-family: 'genericons';
}
/* 2.3  Post Navigation */
.post-navigation,
.post-navigation div + div {
    border-color: $lightgrey;
}
/* 2.4  Page Navigation Menus */
.page-menu ul {
    list-style: none;
    text-transform: uppercase;

    li {
        margin-bottom: 0.5em;
        a {
            background: $darkgrey;
            padding: 5px 10px;
            color: white;
            display: block;
        }
        a:hover {
            background: $green;
        }
    }
}
.anchor {
    margin-top: 1em;
}
.anchor:focus {
    outline: none;
}


/*--------------------------------------------------------------
3    Content
--------------------------------------------------------------*/
/* 3.1    Containers */
.site-main {
    position: relative;
}
.site-main > article {
    margin-bottom: 0;
}
section.testimonials {
    margin-bottom: 0;
}
.site-content {
    position: relative;
    margin-top: 6em;
}
.content-area.home {
    width: 100%;
}
.content-area.full-width {
    width: 100%;
    margin-right: 0;
    float: none;
}
.header-badge {
    background: $midblue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    width: 25%;
    position: absolute;
    right: 0;
    top: -10em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 2px solid white;
    z-index: 20;

    h1 {
        font-size: 20px;
        position: relative;
        z-index: 1;
    }

    span {
        font-weight: 700;
        font-size: 26px;
    }
}
.header-badge:after {
    content: '';
    background: $midblue;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@media screen and (max-width: 600px) {
    .header-badge {
        width: 100%;
        margin-top: 1em;
    }
}

/* 3.2    Headings */
h1, h2, h3, h4, h5, h6,
.entry-title,
.widget-title {
    font-family: 'Aller', arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
h1.entry-title,
.comments-title,
.comment-reply-title {
    font-weight: 700;
    text-transform: uppercase;
}
.entry-title {
    position: relative;
    border-bottom: 2px solid;
}
.entry-title:before,
.entry-title:after {
    content: '';
    position: absolute;
    width: 9600px;
    border-bottom: 2px solid;
    right: 100%;
    bottom: -2px;
}
.entry-title:after {
    left: 100%;
}
.page-template-right-sidebar .entry-title:after ,
.single .entry-title:after {
    display: none;
}
.entry-content h4 {
    letter-spacing: 0 !important;
}
.post-navigation .post-title,
.entry-title, .comments-title {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
}
.comments-title,
.comment-reply-title {
    border-color: $lightgrey;
}
/* 3.3    Text */
p.post-authors {
    padding: 1em;
    background: $palegrey;
}
.testimonials blockquote {
    border: none;
}
/* 3.3.1   Lists */
.entry-content ul {
    list-style: none;
    padding-left: 2em;
    li {
        margin-left: -2em;
        padding-left: 1.5em;
        line-height: 1.6;
    }
    li:before {
        content: '\f0da';
        font-family: 'fontawesome';
        color: $green;
        padding-right: 1em;
        margin-left: -1em;
    }
}

/* 3.4    Images */
.post-thumbnail {
    margin-top: -1.75em;
    overflow: hidden;
    max-height: 500px;
    position: relative;
}
.thumbnail-inner {
    padding-left: 4.5455%;
    width: 70%;
    position: absolute;
    bottom: 0;
}

.featured-caption {
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 2.2em;
}
.post-thumbnail img {
    width: 100vw;
    z-index: 1;
}
@media screen and ( max-width: 600px ) {
    .featured-caption {
        display: none;
    }
}
.post-pg-thumb {
    margin-bottom: 1em;
}
.post-pg-thumb img {
    width: 100%;
}

/* Forms */

/* 3.5  Blog */
.blog article {
    padding: 1em;
    margin-bottom: 1em;
    background: $palegrey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .entry-header {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        .entry-title {
            margin-bottom: 0.5em;
        }
    }
    .entry-title a:link,
    .entry-title a:visited {
        color: $darkgrey;
        font-weight: 700;
        text-transform: uppercase;
    }
    .entry-title a:hover,
    .entry-title a:active {
        color: $midblue;
    }
    .blog-thumb {
        margin-right: 2em;
    }
    .blog-text {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
    }
}
.blog .entry-title:before,
.blog .entry-title:after {
        border: none;
}
body:not(.search-results) article:not(.type-page) .entry-footer {
    margin-top: 1em;
}
.blog .posted-on {
    padding: 5px 10px;
    background: $darkblue;
    color: white;
    text-align: right;
    display: block;
    a {
        color: white;
    }
}


/*--------------------------------------------------------------
4    Footer
--------------------------------------------------------------*/
.testimonials {
    background: $paleblue;
    padding: 4.5455% 4.5455% 10%;
    text-align: center;

    p {
        margin-bottom: 0.5em;
        line-height: 1.2;
    }

    .quote {
        font-size: 1.5em;
    }
}
.site-footer a:link,
.site-footer a:visited {
    color: white;
}
.site-footer a:hover,
.site-footer a:active {
    color: $green;
}
.site-footer .social-links-menu a {
    color: white;
    border-color: white;
    width: 33px;
    height: 33px;
}
.site-footer .social-links-menu a:before {
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.site-footer .social-links-menu a:hover,
.site-footer .social-links-menu a:hover:before {
    color: $green;
    border-color: $green;
}
.site-footer {
    color: white;
    background: $darkgrey;
    padding: 1em 4.5455% 4.5455%;
    position: relative;
}
.site-footer:before {
    position: absolute;
    background: $darkgrey;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: skewY(1.5deg);
            transform: skewY(1.5deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    content: '';
}
.footer-wrap.site-inner {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
}
.site-footer ul li {
    display: inline-block;
}
nav.footer-navigation,
.footer-extras {
    width: 48%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.extras-r1,
.extras-r2 {
    -webkit-box-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
nav.footer-navigation li {
    width: 50%;
    float: left;
    padding: 5px 0;
    line-height: 1;
}
ul.footer-menu {
    margin-left: 0;
}
.footer-extras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.site-footer .social-navigation {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
}
.site-details {
    /* -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; */
    margin-top: 3em;
}
span.footer-contacts {
    /* -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; */
}
/*--------------------------------------------------------------
5    Widgets
--------------------------------------------------------------*/
.widget {
    border-top: none;
}
/*--------------------------------------------------------------
6    Elementor
--------------------------------------------------------------*/
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 0;
}
